.main-container{
    width: 100%;
 
    display: flex;
    /* place-items: center; */
    place-content: center;

}

.grid-box-container{
    width: inherit;
    place-content: center;
    place-items: center;
    /* width: 1000px; */
}
.grid-box-item{
    min-height: 300px;
    min-width: 300px;
    background: #2e2323;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.name-box{
    width: inherit;
    height: 50px;
    background: #000;
}