.main-container{
    margin: auto;
    display: flex;
    /* place-items: center; */
    place-content: center;

}

.grid-box-container{
    width: inherit;
    place-content: center;
    place-items: center;
    /* width: 1000px; */
}


.name-box{
    width: inherit;
    height: 50px;
    background: #000;
}