@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body{
  background-color: #151313;
}
nav{
  width: 100%;
  height:90px;
  background-color: #151313;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #151313;

  
}

h3{
  color: wheat;
  letter-spacing: 5px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  text-shadow: 5px 5px 5px 5px  solid rgb(255, 255, 255);     
}
.search-text{
  background: none;
  outline: none;
  color: rgb(255, 255, 255);
  border: none;
  border-bottom: 1px solid wheat;
  padding: 5px;

}
label{
  color: wheat;
  font-size: 1rem;
  font-weight: lighter;
}

.list{
  width: 26em;
  height: 70px;
  position: relative;
  transform: translateY(-8px);

}
.list ul {
  position: absolute;

}

.list ul li {
}
.list ul li:nth-child(n){
  padding: 15px;
}
.list ul ul li:nth-child(n) {
  padding: 0px;
  margin-bottom: 5px;
  background-color: transparent;
}

nav ul{
  list-style: none;
  display: flex;  

}

nav ul li{
  margin: 0px 8px 0px 8px;
  transition: all .4s ease;


}

nav ul li:hover{
  border-bottom: 1px solid wheat;
}
nav ul .drp2{
  border-bottom: 1px solid wheat;
  background-color: transparent;
  
  
  
}
nav ul .drp2 a{
  color: rgb(105, 105, 102);
}
nav ul .drp1, .drp2 {
  padding-bottom: 25px;
  margin-top: 0px
}
nav ul .drp{
  padding-bottom: 0px;
  margin-top: 20px;
}

nav ul li  a{
  text-decoration: none;
  color: wheat;
}
nav ul li a{
  text-decoration: none;
  color: wheat;
  font-family: sans-serif;
  font-size: .8rem;
}
nav ul .drp1,.drp2{
  position: relative;
}
nav ul .dropdown1{
  flex-direction: column;
  position: absolute;
  top: 3.93em;
  background-color: black;
  opacity: .7;

  width: 170px;
  line-height: 25px;
  display: none;
  animation: submenu .2s ease-in-out forwards;
}
nav ul .dropdown1 a{
  opacity: 1;
  color: #fff;
}
nav ul .dropdown1 a:hover{
  opacity: 0.6;
}


@keyframes submenu {
  
  100%{
      transform: translateY(-12%)
  }
  
}
nav ul .dropdown2{
  flex-direction: column;
  position: absolute;
  top: 3.93em;
  background-color: rgb(0, 0, 0);
  opacity: .7;
  width: 170px;
  line-height: 25px;
  display: none;
  animation: submenu .2s ease-in-out forwards;
  padding: 5px;
}
nav ul .dropdown2 a{
  opacity: 1;
  color: #fff;
}
nav ul .dropdown2 a:hover{
  opacity: 0.6;
}
@keyframes submenu {
  
  100%{
      transform: translateY(-12%)
      
  }
  
}
nav ul .dropdown2 ul {
  background-color: black;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 170px;
  transform: translate(100%,-29%);
  display: none;
  padding: 10px;
  animation: submenu1 .2s ease-in-out forwards;
  

}
@keyframes submenu1{
  100%{
      transform: translate(91%,-29%);
  }
}
.list ul .dropdown2 li:last-child{
  width: 97%;
}
nav ul .dropdown3:hover   > ul{
  display: flex;
  justify-content: flex-start;

}


nav ul ul li a{
  color: black;
  font-size: .7rem;
  font-weight: bolder;
  transition: .1s;
}
.list ul ul li{
  border: none;

}


.list ul ul ul li:nth-child(n) {
  margin: 0px;
  padding: 0 0 5px 0 ;
  float: left;
  width: 100%;

}

nav ul .drp1:hover  .dropdown1{
  display: flex;
  top:4.9em ;


  
}
nav ul .drp2:hover  .dropdown2{
  display: flex;
  top: 4.9em;

}
.menubar{
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.bars{
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: wheat;
  transition: all .4s ease;

}
.bars::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: wheat;
  transition: all .4s ease;
}
.bars::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: wheat;
  transition: all .4s ease;
}
.bars::before{
  transform: translateY(-7px);
}
.bars::after{
  transform: translateY(8px);
}

.horn,.menu{
  margin: 10px 15px 10px 15px;
  font-size: 1.2rem;
  color: wheat;

}
.menu{
  display: flex;
  flex-direction: column;
  position: relative;
}
.horn::after{
  content: "Share";
  position: absolute;
  transform: translate(-30px,45px);
  color: #b8afa7;
  font-size: 1rem;
  font-family: cursive;
  transition: .7s;
  opacity: 0;
}
.menu:hover .horn::after{
  transform: translate(-30px,25px);
  opacity: 1;

}


.menu,.dot_container{
  margin-left:  -10px; ;
  margin-right: -10px;
}
.menu{
  margin-right: -100px;
}
.dot_container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 40px;
  cursor: pointer;
  transition: all .3 ease;
}

.dot{
  height: 4px;
  width: 4px;
  background-color: wheat;
  border-radius: 50%;
  transition: all .3s ease;
}
.dot::before,.dot::after{
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: wheat;
  border-radius: 50%;
  transition: all .3s ease;

}
.dot::before{
  transform: translateY(-9px);
}
.dot::after{
  transform: translateY(9px);
}
.dot_container:hover .dot{
  transform: translateX(10px);
}
.dot_container:hover .dot::before{
  transform: translate(-10px,-10px)
}
.dot_container:hover .dot::after{
  transform: translate(-10px,10px);
}


@media only screen and (max-width:1000px){
  .content:nth-child(1),:nth-child(5),:nth-child(7),:nth-child(9){
      grid-column-start: span 2;
  }
  .menu{
      margin-right: 0px;
  }

  h3{
      font-size: 1rem;
  }
  nav ul li a{
      font-size: .6rem;
  }
  .fa-bullhorn{
      font-size: 1rem;
      color: rgb(196, 196, 196);
  }
  .menu{
      margin-left: 0;
  }

}
@media only screen and (max-width:760px){
  nav h3{
      font-size: 1rem;
      order: 1;
  }
  .container{
      display: grid;
  
  }
  .content:nth-child(n){
      grid-column-start: span 2;
  }
  .menubar{
      display: flex;
      order: 3;
  }

  .bars,.bars::after{
      width: 18px;
      height: 3px;
      border-radius: 2px;
  }
  .bars::after{
      width: 22px;
      border-radius: 2px;
  }
  .bars::before{
      width: 12px;
      border-radius: 2px;
      height: 3px;

  }
  nav ul{
      display: none;
      flex-direction: column;
      order: 2;
      background-color: #7e2323;
      position: absolute;
      top: 90px;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 20px;

      


  }
  nav ul li a{
      font-size: .8rem;
      transition: all .3 ease;
      
     
  }
  nav ul li a:hover{
      transition: .3s;
      font-size: 1rem;
      font-weight: bold;
  }
  nav ul li:hover{

  }
  nav ul li 
  .menu{
      margin-right: 0px;
      order: 4;
  }
  .dot_container{
      order: 5;
  }
  .searchbox{
      order: 6;
  }
  .search-text{
      display: none;
  }
  nav ul .drp1:hover .dropdown1{
      display: none;
  
  
      
  }
  nav ul .drp2:hover .dropdown2{
      display: none;
      
  
  }


  
}
.container{
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-gap:1.2em;
  background-color: #151313;

}



footer{
  height: 5em;
  width: 100%;
  background-color: #151313;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
.footer_txt1,.footer_txt2{
  margin: 10px;
  color: wheat;
  letter-spacing: 2px;
  flex-wrap: wrap;
}

